@charset "utf-8";
/* CSS Document */

#title {
	color:blue;
	background-color:yellow;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.normal {
	color:green;
	size: 2em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

a.buas {
	color:orange;
}

body {
	background-color:lightcyan;
}